@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

/* HEADER */
.container {
  height: 100vh; }
  .container header {
    display: flex;
    justify-content: space-between;
    padding: 5rem 5rem 3rem 5rem; }
    .container header header h1 {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold; }
    .container header nav {
      display: flex;
      align-items: center; }
      .container header nav ul {
        list-style: none;
        display: flex;
        gap: 2rem; }
        .container header nav ul li {
          font-family: 'Montserrat', sans-serif; }
          .container header nav ul li a {
            text-decoration: none; }

/* MAIN */
main .seccion-home {
  height: 500px;
  background-image: url("../img/fondo-tres.jpg");
  background-position: top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
  padding-inline: 5rem;
  text-align: end;
  gap: 2rem;
  color: white;
  font-family: 'Montserrat', sans-serif; }
  main .seccion-home .a-template {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2rem; }
    main .seccion-home .a-template h2 {
      font-size: 2.3rem; }
  main .seccion-home .botones-home {
    display: flex;
    justify-content: end;
    gap: 5px; }
    main .seccion-home .botones-home .btn-home {
      background-color: black;
      padding: 0.5rem;
      padding-inline: 1rem;
      border-radius: 2rem; }

main .seccion-about .about {
  padding: 5rem;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif; }

main .seccion-about .about-p {
  display: flex;
  padding-inline: 5rem;
  gap: 2rem;
  text-align: left; }

main .seccion-services {
  background-color: black;
  margin-top: 5rem; }
  main .seccion-services h4 {
    padding: 5rem;
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    color: white; }
  main .seccion-services .servicios {
    display: flex;
    padding: 4rem;
    padding-top: 0;
    gap: 2rem; }
    main .seccion-services .servicios .servicio {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem; }
      main .seccion-services .servicios .servicio .imagen {
        max-width: 100%;
        width: 250px;
        height: 180px; }
      main .seccion-services .servicios .servicio p {
        text-align: center;
        color: white; }

main .seccion-footer {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 2rem; }
  main .seccion-footer .icon {
    font-size: 2rem;
    color: black; }

/* Quienes Somos */
/* PANTALLA CELULAR */
.container .header {
  background-color: black; }
  .container .header .titulo {
    color: white; }
  .container .header .navbar .nav-ul .nav-li .link {
    color: white; }

.container main .seccion-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
  gap: 1rem; }
  .container main .seccion-nosotros .nosotros-main {
    margin-top: 1rem; }

.container .seccion-img .img-about {
  max-width: 100%; }

/* Servicios */
/* PANTALLA CELULAR */
.container main .seccion-img .img-servicios {
  max-width: 100%; }

.container main .seccion-servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1rem; }

.container {
  height: 100vh; }
  .container .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    padding-bottom: 2rem;
    background-color: black; }
    .container .header .navbar {
      display: flex;
      align-items: center; }
      .container .header .navbar .nav-ul {
        display: flex;
        gap: 2rem;
        list-style: none; }
        .container .header .navbar .nav-ul .nav-li .link {
          color: white;
          text-decoration: none; }
    .container .header .titulo {
      color: white; }
  .container .main-contacto {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url("../img/image-contacto.jpg"); }
    .container .main-contacto .contacto {
      padding: 3rem;
      padding-top: 7rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 1rem; }
      .container .main-contacto .contacto h2 {
        color: white;
        background-color: black;
        padding: 1rem;
        border-radius: 0.5rem; }
      .container .main-contacto .contacto h3 {
        color: white;
        background-color: black;
        padding: 1rem;
        border-radius: 0.5rem; }
  .container .btn-contacto {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 4rem; }
    .container .btn-contacto .btn {
      background-color: black;
      color: white;
      padding: 1.5rem;
      border-radius: 2rem;
      padding-inline: 2rem;
      box-shadow: 3px 3px 8px black; }

/*** PANTALLA CELULAR ***/
/* PERFIL */
@media screen and (max-width: 550px) {
  .container header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
    padding-bottom: 2rem;
    background-color: black; }
    .container header h1 {
      color: white; }
    .container header nav ul li a {
      color: white; }
  .container main .seccion-home {
    height: 600px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    padding-top: 0; }
    .container main .seccion-home .a-template {
      align-items: center;
      justify-content: center;
      text-align: center; }
      .container main .seccion-home .a-template p {
        font-size: 1.3rem;
        font-weight: bold;
        text-align: center; }
    .container main .seccion-home .botones-home {
      padding-top: 2rem; }
      .container main .seccion-home .botones-home .btn-home {
        padding-inline: 3rem;
        padding-block: 1rem; }
  .container main .seccion-about .about {
    text-align: center; }
  .container main .seccion-about .about-p {
    flex-direction: column;
    text-align: center; }
    .container main .seccion-about .about-p .parrafo {
      color: black;
      font-family: 'Times New Roman', Times, serif;
      font-size: 1.1rem; }
  .container main .seccion-services {
    background-color: black;
    margin-top: 3rem; }
    .container main .seccion-services h4 {
      text-align: center;
      color: white; }
    .container main .seccion-services .servicios {
      flex-direction: column; }
      .container main .seccion-services .servicios .servicio p {
        text-align: center;
        font-size: 1.2rem;
        color: white; }
      .container main .seccion-services .servicios .servicio .imagen {
        width: 350px;
        height: 250px; } }
