@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* HEADER */
.container {
  height: 100vh; }
  .container header {
    display: flex;
    justify-content: space-between;
    padding: 5rem 5rem 3rem 5rem; }
    .container header header h1 {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold; }
    .container header nav {
      display: flex;
      align-items: center; }
      .container header nav ul {
        list-style: none;
        display: flex;
        gap: 2rem; }
        .container header nav ul li {
          font-family: 'Montserrat', sans-serif; }

/* MAIN */
main .perfil {
  height: 500px;
  background-image: url("../img/fondo-tres.jpg");
  background-position: top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
  padding-inline: 5rem;
  text-align: end;
  gap: 2rem;
  color: white;
  font-family: 'Montserrat', sans-serif; }
  main .perfil .perfil-uno {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2rem; }
    main .perfil .perfil-uno h2 {
      font-size: 2.3rem; }
  main .perfil .perfil-dos {
    display: flex;
    justify-content: end;
    gap: 5px; }
    main .perfil .perfil-dos .boton-perfil {
      background-color: black;
      padding: 0.5rem;
      padding-inline: 1rem;
      border-radius: 2rem; }

main .seccion-uno .about {
  padding: 5rem;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif; }

main .seccion-uno .about-p {
  display: flex;
  padding-inline: 5rem;
  gap: 2rem;
  text-align: left; }

main .seccion-dos h4 {
  padding: 5rem;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif; }

main .seccion-dos .servicios {
  display: flex;
  padding: 4rem;
  padding-top: 0;
  gap: 2rem; }
  main .seccion-dos .servicios .servicio {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem; }
    main .seccion-dos .servicios .servicio .imagen {
      max-width: 100%;
      width: 250px;
      height: 180px; }
    main .seccion-dos .servicios .servicio p {
      text-align: left; }

main .seccion-tres h4 {
  font-family: 'Montserrat', sans-serif;
  padding: 5rem;
  font-size: 1.4rem; }

/*** PANTALLA CELULAR ***/
/* PERFIL */
@media screen and (max-width: 550px) {
  .container header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
    padding-bottom: 2rem; }
  .container main .perfil {
    height: 600px;
    margin: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    padding-top: 0; }
    .container main .perfil .perfil-uno {
      align-items: center;
      justify-content: center;
      text-align: center; }
      .container main .perfil .perfil-uno p {
        font-size: 1.3rem;
        font-weight: bold;
        text-align: center; }
    .container main .perfil .perfil-dos {
      padding-top: 2rem; }
      .container main .perfil .perfil-dos .boton-perfil {
        padding-inline: 3rem;
        padding-block: 1rem; }
  .container main .seccion-uno .about {
    text-align: center; }
  .container main .seccion-uno .about-p {
    flex-direction: column;
    text-align: center; }
  .container main .seccion-dos h4 {
    text-align: center; }
  .container main .seccion-dos .servicios {
    flex-direction: column; }
    .container main .seccion-dos .servicios .servicio p {
      text-align: center;
      font-size: 1.2rem; }
    .container main .seccion-dos .servicios .servicio .imagen {
      width: 350px;
      height: 250px; } }
