/*** PANTALLA CELULAR ***/

                /* PERFIL */

@media screen and (max-width:550px){
    .container{
        header{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 3rem;
        padding-bottom: 2rem;
        background-color: $color-secundario;
            
            h1{
                color: $color-primario;
            }

            nav{

                ul{

                    li{

                        a{
                            color: $color-primario;
                        }
                        
                    }
                }
            }
        }


        main{
            .seccion-home{
                height: 600px;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 1rem;
                padding-top: 0;
                .a-template{
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    p{
                        font-size: 1.3rem;
                        font-weight:bold;
                        text-align:center;
                    }
                }
                .botones-home{
                    padding-top: 2rem;
                    .btn-home{
                        padding-inline: 3rem;
                        padding-block: 1rem;
                    }
                }
            }

    
            .seccion-about{
                .about{
                    text-align: center;
                }
                .about-p{
                    flex-direction: column ;
                    text-align: center;

                    .parrafo{
                        color: $color-secundario;
                        font-family:'Times New Roman', Times, serif;
                        font-size: 1.1rem;
                    }
                }
            }

    
            .seccion-services{
                background-color: $color-secundario;
                margin-top: 3rem;

                h4{
                    text-align: center;
                    color: $color-primario;
                }
                .servicios{
                    flex-direction: column;
                    .servicio{
                        p{
                            text-align: center;
                            font-size: 1.2rem;
                            color: $color-primario;
                        }
                        .imagen{
                            width: 350px;
                            height: 250px;
                        }
                    }
                }
            }
        }
    }
}

    